.form-container{
    max-width: 300px;
    padding: 1rem;
} 

.logo-img {
    width: 200px; /* Aumenta a largura (ajuste conforme necessário) */
    height: auto; /* Mantém a proporção */
    display: block;
    margin-left: auto;
    margin-right: auto;
}