
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="imports-css(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Título</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
  <div th:fragment="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Garden's Board</a>
        </div>
      </div>
    </nav>
  </div>

  <div th:fragment="footer">
    <footer class="text-center mt-4">
      <p>&copy; 2025 Garden Psychedelia</p>
    </footer>
  </div>
</body>

</html>
