<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments :: common-head('Garden\'s Board')}"></head>

<body>
    <div class="gardens-container">
       
        <div th:replace="~{fragments :: top-nav}"></div>
        
        <!-- Main Content -->
        <div class="main-content">
         
            <div th:replace="~{fragments :: main-logo}"></div>
            
           
            
            <p class="description">Everything u'll need to manage ur band.</p>
            
            
            <div class="menu-buttons">
                <a th:href="@{/tasks(userId=${userId})}" class="menu-button">
                    <i class="fas fa-tasks"></i> Tasks
                </a>
                <a th:href="@{/demos}" class="menu-button">
                    <i class="fas fa-music"></i> Demos
                </a>
                    <a th:href="@{/user/my-account(userId=${userId})}" class="menu-button">
                        <i class="fas fa-user-circle"></i> My Account
                    </a>
                <a th:href="@{/login}" class="menu-button logout-button">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
    </div>
    
    
    <div th:replace="~{fragments :: common-scripts}"></div>
</body>
</html>